    <div class="row">
        <form ng-submit="vm.addTodo()">
          <input type="text" ng-model="vm.todoText" placeholder="Nueva tarea aquí">
          <input class="btn-primary" type="submit" value="Añadir" ng-click="vm.todoText" >
        </form>
        <div class="binding">{{vm.todoText}}</div>
        <ol class="tasks">
            <li ng-repeat="todo in vm.todos">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
                <span class="done-true done-false hide"></span>
              </label>
            </li>
        <span class="tasks__binding">{{vm.remaining()}} de {{vm.todos.length}} tareas por hacer </span>
        <a href="" ng-click="vm.archive()">Archivar</a>
        </ol>
    </div>