    <div class="row" ng-controller="TodoController" ng-cloak>
        <form ng-submit="addTodo()">
          <input type="text" ng-model="newActv.text" placeholder="Nueva tarea aquí">
          <input class="btn-primary" type="submit" value="Añadir" >
        </form>
        <div class="binding">{{newActv.text}}</div>
        <ol class="tasks">
            <li ng-repeat="task in todo">
              <label class="checkbox">
                <input type="checkbox" ng-model="task.done">
                <span class="done-{{task.done}}">{{task.text.text | titleCase}}</span>
                <span class="done-true done-false hide"></span>
              </label>
            </li>
        <span class="tasks__binding">{{remaining()}} de {{todo.length}} tareas por hacer </span>
        <a href="" ng-click="archive()">Archivar</a>
        <a href="" ng-click="showTodos()" class="tasks__show">
        Archivadas</a>
        <a href="" ng-click="todo = []" class="tasks__clean">
        Limpiar</a>
        </ol>
    </div>