<!DOCTYPE html>
<html lang="en" ng-app="todo">
<head>
  <meta charset="UTF-8">
  <title>Angular ToDo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="images/icon3.png" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- bower:css -->
  <!-- endbower -->
  <!-- inject:css -->
  <!-- endinject -->
  <link rel="stylesheet" href="styles/style.min.css">
</head>
  <body ng-controller="TodoController as todoList">
  <header class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3">
        <img src="images/icon3.png" alt="">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9">
        <h1 class="title">Toma el control de tus tareas!!!</h1>
      </div>
    </div>
  </header>
    <section class="container">
    <div class="row">
        <form ng-submit="todoList.addTodo()">
          <input type="text" ng-model="todoList.todoText" placeholder="Nueva tarea aquí">
          <input class="btn-primary" type="submit" value="Añadir" ng-click="todoList.todoText" >
        </form>
        <div class="binding">{{todoList.todoText | titleCase}}</div>
        <ol>
            <li ng-repeat="todo in todoList.todos">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text | titleCase}}</span>
                <span class="done-true done-false hide"></span>
              </label>
            </li>
        <span>{{todoList.remaining()}} de {{todoList.todos.length}} tareas por hacer </span>
        <a href="" ng-click="todoList.archive()">Archivar</a>
        </ol>
    </div>
    </section>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
      <!-- bower:js -->
      <!-- endbower -->
      <!-- inject:js -->
      <!-- endinject -->
      <script src="scripts/main.min.js"></script>
  </body>
</html>