@charset "UTF-8";

@import './vendors/reset',
'./vendors/normalize',
'../fonts/src/font-awesome',
'./customs/var',
'./customs/customs',
'./customs/breakpoints',
'../../../node_modules/bootstrap/scss/bootstrap';

body{
  background-color: $black;
}
header{
  padding: 1em 0;
  text-align: center;
  & img{
    width: 90%;
    height: 90%;
  }
  & h1.title{
    color: lightgray;
    @include respond-to(xl) {
      text-align: left;
      margin-left: 2em;
      line-height: 200px;
    }
  }
}

.binding{
  color: $red;
  margin-top: 1em;
  margin-left: 1em;
  font-size: 1.2em;
  @include respond-to(xl) {
      font-size: 1.5em;
    }
}
form{
  width: 100%;
  text-align: center;
  & input[type=text]{
    width: 100%;
    @include respond-to(xl) {
      width: 75%;
    }
  }
  & input[type=submit]{
    background-color: $blue;
    border-color: $blue;
    width: 100%;
    @include respond-to(xl) {
      width: 24%;
    }
    &:hover{
      background-color: $orange;
    }
  }
  & input[type=text],
  & input[type=submit]{
    box-sizing: border-box;
    padding: 0.2em;
    font-size: 1.5em;
    @include respond-to(xl) {
      padding: 0.5em;
      font-size: 2em;
    }
  }
}
ol{
  margin: 1em 2em;
  font-size: 1.2em;
  @include respond-to(xl) {
      font-size: 1.5em;
    }
    & li label span{
      &.done-true{
      color: $green;
      }
      &.done-false{
        color: $red;
      }
    }
    & span.ng-binding{
      color: lightgray;
    }
    & a{
      color: $blue;
      &:hover,
      &:active,
      &:focus,
      &:visited{
        text-decoration: none !important;
      }
      &::before {
        content: " | ";
        color: $orange;
        font-size: 1.2em;
        @include respond-to(xl) {
          font-size: 1.5em;
        }
      }
    }
}
.tasks{
  &__binding{
    color: lightgrey;
  }
  &__clean{
    color: red;
    &:hover,
    &:focus{
      color: brown;
    }
  }
  &__show{
    color: lightgreen;
    &:hover,
    &:focus{
      color: darkgreen;
    }
  }
}